AGENTS.md
Invalidate
logoutput.txt
TFG - Coria, Santiago - Dedicatoria.docx
TFG - Coria, Santiago.docx
TIF 4.zip
static
Proyectos
quake-backend-flask-csv-ml.zip
QuakeScopeOSMAndroid
QuakeScope - 0.2.2.zip
QuakeScope - 0.4.zip
QuakeScopeOSMAndroid - 0.1.zip
.idea
.gradle
build
.venv310
.env